
<div class='main-nav'>
  <div class='navbar navbar-expand-md navbar-light bg-faded'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a class='navbar-brand' [routerLink]="['/home']">PicBook</a>
    </div>
    <div class="navbar-collapse justify-content-md-end">
      <ul class='nav navbar-nav'>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/home']">
            <span class='glyphicon glyphicon-home'></span> Home
          </a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/login']">
            <span class='glyphicon glyphicon-user'></span> Login
          </a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/register']">
            <span class='glyphicon glyphicon-user'></span> Register
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<router-outlet>
  
</router-outlet>

